{% extends 'base.html.twig' %}

{% block title %}Mylius Spuren Homepage{% endblock %}

{% block map %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="item" id="map" style="width: auto; height: 600px"></div>
            </div>
        </div>
    </div>

    <script>

        var map = L.map('map').setView([50.1109221, 8.6821267], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        {% for point in mapData %}

            L.marker([{{ point.lat }},{{ point.lng }}]).addTo(map)
                .bindPopup('<a href="{{ path("mylius-detail", {"id":point.id}) }}">{{ point.title }} <br/> <img src="/images/mylius/thumb/{{ point.image }}" width="200px"/></a>')
                ;

        {% endfor %}

    </script>


{% endblock %}

{% block blog %}

    <div class="mylius-section">
        <div class="mylius-container">
            <div class="row">
                <div class="col-md-6 mylius-news">
                    <h2>Aktuelles</h2>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="post-date">Freitag, 09/11/2018</span>
                                <h3>Online!</h3>
                                <p>Nachdem wir bei Instagram schon einen kleinen Vorgeschmack gegeben haben, fangen wir jetzt richtig an.</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="post-date">Sonntag, 28/10/2018</span>
                                <h3>Auf Mylius Spuren</h3>
                                <p>Teambuilding erfolgreich! Wir wagen uns an den Datensatz.</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="post-date">Samstag, 27/10/2018</span>
                                <h3>Coding da Vinci Rhein-Main</h3>
                                <p>Es geht los!</p>
                            </a>
                        </li>
                    </ul>
                    <p><a href="#" class="btn btn-sm btn-special">Mehr erfahren</a></p>
                </div>
                <!-- END Aktuelles -->
                <div class="col-md-6 mylius-zitate">
                    <h2>Zitate</h2>
                    <blockquote>
                        <p>&ldquo;Willst du dich am Ganzen erquicken, so musst du das Ganze im Kleinsten erblicken.&ldquo;</p>
                        <p class="author"><cite>&mdash; Johann Wolfgang von Goethe</cite></p>
                    </blockquote>
                    <blockquote>
                        <p>&ldquo;Un es will merr net in mein Kopp enei: Wie kann nor e Mensch net von Frankfort sei!&ldquo;</p>
                        <p class="author"><cite>&mdash; Friedrich Stoltze</cite></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
